/* The main Sass file */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic');

@import 'vendor/flexbox';

/* Variables */

$pt-sans: 'PT Sans', sans-serif;

/* Reset */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
    color: #333;
}

main.article {
    width: 60%;
    margin: 0 auto;

    form {
        @include flexbox();
        @include flex-direction(column);

        input {
            &[name=title] {
                font-size: 36px;
                margin-bottom: 30px;
            }

            &[name=slug] {
                margin-bottom: 20px;
            }
        }

        textarea {
            min-height: 300px;
        }
    }
}

main.auth {
    $group-height: 60px;

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    height: 100vh;

    h1 {
        font-family: $pt-sans;
        font-size: 36px;
        margin-bottom: 30px;
    }

    form {
        width: 40%;

        border: 1px solid #ddd;
        border-radius: 10px;

        @include flexbox();
        @include flex-direction(column);

        input {
            border: none;
        }

        .input-group {
            @include flexbox();
            @include flex-direction(column);

            height: $group-height;

            label, input {
                height: $group-height/2;
            }

            label {
                text-transform: uppercase;
                font-weight: bold;
                line-height: $group-height/2;
                padding-left: 10px;

                font-family: $pt-sans;
                font-size: 14px;
                color: #999;
            }

            input {
                padding: 0 10px;
                outline: none;

                &:-webkit-autofill {
                    background: white !important;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }

        input[type=submit] {
            background: transparent;
            padding: 10px 8px;
            cursor: pointer;
        }
    }
}
