{% extends "base.html" %}

{% block content %}
  <main class="article list">
    <ul>
      {% for article in articles %}
        <li>
          <a href="/article/{{ article.slug }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="controls">
      {% if page != 0 %}
        <a href="/article/all?page={{ page|add:"-1" }}">
          Prev
        </a>
      {% endif %}
      <a href="/article/all?page={{ page|add:"1" }}">
        Next
      </a>
    </div>
  </main>
{% endblock %}
