{% extends "base.html" %}

{% block content %}
  <main class="article new">
    {% if error %}
      <div class="error">
        {{ error }}
      </div>
    {% endif %}
    <form action="/article/new" method="post">
      <input name="title" type="text" id="title" placeholder="Title" autocomplete="off">
      <input name="slug" type="text" id="slug" placeholder="Slug" autocomplete="off">
      <textarea name="source"></textarea>
      <input type="submit">
    </form>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
  <script>
   function slugify(text) {
       return text.toString().toLowerCase()
                  .replace(/\s+/g, '-')
                  .replace(/[^\w\-]+/g, '')
                  .replace(/\-\-+/g, '-')
                  .replace(/^-+/, '')
                  .replace(/-+$/, '');
   }

   Zepto(function($) {
       $('#title').on('keyup', function() {
           const title = this.value;
           $('#slug').val(slugify(title));
       });
   })
  </script>
{% endblock %}
